body {
    background-color: #2a2a2a;

}

.page {
    max-width: 1024px;
    margin: 0 auto;
    overflow: hidden;
    background-color: #3f3f3f;

}
.header {
    width: 100%;
    background-color: #2DAAE4;
    padding: 20px 0;
}
.header h1 {
    text-align: center;
    font-family: sans-serif;
    font-size: 48pt;
    color: white;
    width: 728px;
    display: inline-block;
    text-shadow: -2px -2px 0 black, 2px -2px 0 black, -2px 2px 0 black, 2px 2px 0 black;
}
.header .logos_and_title {
    width: 924px;
    margin-left: 50px;
}

.header img {
    width: 98px;
    height: 98px;
}

.navbar {
    background-color: #3f3f3f;
    color: white;
    font-family: sans-serif;
    width: 200px;
    float: left;
    border-bottom: 1px solid black;
}

.os {
    border-top: 1px solid black;
}

.ostitle {
    display: block;
    font-weight: bold;
    font-size: 14pt;
    padding: 7px 0 7px 5px;
}

.ositem {
    display: block;
    font-weight: bold;
    font-size: 12pt;

}

.ositem a:hover {
    background-color: #103b50;
}

.ositem a.selected {
    background-color: #206a91;
}

.ositem a {
    text-decoration: none;
    color: inherit;
    display: block;
    padding: 7px 0 7px 15px;
}

.content {
    max-width: 784px;
    float: right;
    padding: 5px 20px;
    background-color: #EFEFEF;
    min-height: 294px;
}

.demo img {
    max-width: 750px;
    border: 5px solid black;
    margin: 0 auto;
    display: inherit;
}


.instruction {
    display: block;
    text-align: center;
    margin: 5px auto 5px auto;
}

.instructionList li {
    background-color: #F8F8F8;
    margin: 20px 5px;
    box-shadow: 2px 2px lightgrey;
    padding: 5px;
}