

.header {
    width: 100%;
    background-color: #2DAAE4;
    padding: 20px 0;
}
.header h1 {
    text-align: center;
    font-family: sans-serif;
    font-size: 48pt;
    color: white;
    width: 728px;
    display: inline-block;
    text-shadow: -2px -2px 0 black, 2px -2px 0 black, -2px 2px 0 black, 2px 2px 0 black;
}
.header .logos_and_title {
    width: 924px;
    margin-left: 50px;
}

.header img {
    width: 98px;
    height: 98px;
}



.content {
    max-width: 784px;
    margin-top: 3.5em;
    padding: 5px 20px;
    background-color: #EFEFEF;
    min-height: 294px;
}

.demo img {
    max-width: 650px;
    border: 5px solid black;
    margin: 0 auto;
    display: inherit;
}


.instruction {
    display: block;
    text-align: center;
    margin: 5px auto 5px auto;
}

.instructionList li {
    background-color: #F8F8F8;
    margin: 20px 5px;
    box-shadow: 2px 2px lightgrey;
    padding: 5px;
}
